In [5]:
#importing the required libraries
import numpy as np
import pandas as pd
import nltk
from nltk.tokenize import sent_tokenize,word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from nltk.stem import PorterStemmer

In [6]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to C:\Users\Arjun
[nltk_data]     V\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [9]:
#reading from the dataset
df = pd.read_csv("twit.csv",encoding="ISO-8859-1")

In [10]:
df.head()

,id,thread_number,timestamp,text,retweets,likes,replies
0,978874480968728576,Thread 1,1522216837,(1) @DeadofKnight68 asks a question. https://t...,402,620,33
1,978875352654188546,Thread 1,1522217045,"(2) In North Korea, the Kim family and the Kor...",90,239,3
2,978875693722456064,Thread 1,1522217126,(3) The KPA needs a central figure who serves ...,59,216,2
3,978876717287772161,Thread 1,1522217370,(4) KPA generals live in palaces.\r\r\n\r\r\nS...,70,224,3
4,978876925161672705,Thread 1,1522217420,(5) The Kim family and the KPA are twin mafias...,85,238,2

In [12]:
#removing punctutations, applying case holding
df["tokenized"] = df["text"]
df = df.apply(lambda x: x.str.lower() if x.dtype == "object" else x) 
df["tokenized"] = df['tokenized'].str.replace('[^\w\s]','')

C:\Users\ARJUNV~1\AppData\Local\Temp/ipykernel_20464/1161919298.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df["tokenized"] = df['tokenized'].str.replace('[^\w\s]','')

In [13]:
df.head()

,id,thread_number,timestamp,text,retweets,likes,replies,tokenized
0,978874480968728576,thread 1,1522216837,(1) @deadofknight68 asks a question. https://t...,402,620,33,1 deadofknight68 asks a question httpstcoibknf...
1,978875352654188546,thread 1,1522217045,"(2) in north korea, the kim family and the kor...",90,239,3,2 in north korea the kim family and the korean...
2,978875693722456064,thread 1,1522217126,(3) the kpa needs a central figure who serves ...,59,216,2,3 the kpa needs a central figure who serves as...
3,978876717287772161,thread 1,1522217370,(4) kpa generals live in palaces.\r\r\n\r\r\ns...,70,224,3,4 kpa generals live in palaces\r\r\n\r\r\nsome...
4,978876925161672705,thread 1,1522217420,(5) the kim family and the kpa are twin mafias...,85,238,2,5 the kim family and the kpa are twin mafias\r...

In [14]:
#using word tokenizer for tokenizing data
df["tokenized"] = df["tokenized"].apply(word_tokenize)
df["tokenized"].head()

0    [1, deadofknight68, asks, a, question, httpstc...
1    [2, in, north, korea, the, kim, family, and, t...
2    [3, the, kpa, needs, a, central, figure, who, ...
3    [4, kpa, generals, live, in, palaces, some, of...
4    [5, the, kim, family, and, the, kpa, are, twin...
Name: tokenized, dtype: object

In [15]:
df.head()

,id,thread_number,timestamp,text,retweets,likes,replies,tokenized
0,978874480968728576,thread 1,1522216837,(1) @deadofknight68 asks a question. https://t...,402,620,33,"[1, deadofknight68, asks, a, question, httpstc..."
1,978875352654188546,thread 1,1522217045,"(2) in north korea, the kim family and the kor...",90,239,3,"[2, in, north, korea, the, kim, family, and, t..."
2,978875693722456064,thread 1,1522217126,(3) the kpa needs a central figure who serves ...,59,216,2,"[3, the, kpa, needs, a, central, figure, who, ..."
3,978876717287772161,thread 1,1522217370,(4) kpa generals live in palaces.\r\r\n\r\r\ns...,70,224,3,"[4, kpa, generals, live, in, palaces, some, of..."
4,978876925161672705,thread 1,1522217420,(5) the kim family and the kpa are twin mafias...,85,238,2,"[5, the, kim, family, and, the, kpa, are, twin..."

In [16]:
#removal of stop words
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
df["tokenized"] = df["tokenized"].apply(lambda words: [word for word in words if word not in stop_words])

[nltk_data] Downloading package stopwords to C:\Users\Arjun
[nltk_data]     V\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [17]:
df.head()

,id,thread_number,timestamp,text,retweets,likes,replies,tokenized
0,978874480968728576,thread 1,1522216837,(1) @deadofknight68 asks a question. https://t...,402,620,33,"[1, deadofknight68, asks, question, httpstcoib..."
1,978875352654188546,thread 1,1522217045,"(2) in north korea, the kim family and the kor...",90,239,3,"[2, north, korea, kim, family, korean, peoples..."
2,978875693722456064,thread 1,1522217126,(3) the kpa needs a central figure who serves ...,59,216,2,"[3, kpa, needs, central, figure, serves, face,..."
3,978876717287772161,thread 1,1522217370,(4) kpa generals live in palaces.\r\r\n\r\r\ns...,70,224,3,"[4, kpa, generals, live, palaces, bigger, mall..."
4,978876925161672705,thread 1,1522217420,(5) the kim family and the kpa are twin mafias...,85,238,2,"[5, kim, family, kpa, twin, mafias, extort, wo..."

In [18]:
#using porterstemmer for stemming words
stemmer = PorterStemmer()
df['stemmed'] = df['tokenized'].apply(lambda x: [stemmer.stem(y) for y in x])

In [19]:
df.head()

,id,thread_number,timestamp,text,retweets,likes,replies,tokenized,stemmed
0,978874480968728576,thread 1,1522216837,(1) @deadofknight68 asks a question. https://t...,402,620,33,"[1, deadofknight68, asks, question, httpstcoib...","[1, deadofknight68, ask, question, httpstcoibk..."
1,978875352654188546,thread 1,1522217045,"(2) in north korea, the kim family and the kor...",90,239,3,"[2, north, korea, kim, family, korean, peoples...","[2, north, korea, kim, famili, korean, peopl, ..."
2,978875693722456064,thread 1,1522217126,(3) the kpa needs a central figure who serves ...,59,216,2,"[3, kpa, needs, central, figure, serves, face,...","[3, kpa, need, central, figur, serv, face, nat..."
3,978876717287772161,thread 1,1522217370,(4) kpa generals live in palaces.\r\r\n\r\r\ns...,70,224,3,"[4, kpa, generals, live, palaces, bigger, mall...","[4, kpa, gener, live, palac, bigger, mall, ame..."
4,978876925161672705,thread 1,1522217420,(5) the kim family and the kpa are twin mafias...,85,238,2,"[5, kim, family, kpa, twin, mafias, extort, wo...","[5, kim, famili, kpa, twin, mafia, extort, wor..."

In [20]:

my_dict = pd.Series(df.stemmed.values,index=df.id).to_dict()

In [21]:
my_list = df["stemmed"]
my_list[:5]

0    [1, deadofknight68, ask, question, httpstcoibk...
1    [2, north, korea, kim, famili, korean, peopl, ...
2    [3, kpa, need, central, figur, serv, face, nat...
3    [4, kpa, gener, live, palac, bigger, mall, ame...
4    [5, kim, famili, kpa, twin, mafia, extort, wor...
Name: stemmed, dtype: object

In [22]:
#contains all words in corpus
words = []
for key in my_dict:
    for i in range(len(my_dict[key])):
        term = my_dict[key][i]
        words.append(term)

In [23]:
#construction of inverted index
length = len(my_list)
inverted_index = {}
for i in range(length):
    check = my_list[i]
    for item in words:
        if item in check:
            if item not in inverted_index:
                inverted_index[item] = []
            if item in inverted_index:
                inverted_index[item].append(i+1)

In [24]:
#obtaining the number of unique documents in inverted index
for key in inverted_index:
    inverted_index[key] = list(set(inverted_index[key]))

In [25]:
inverted_index["wiki"]

[960, 495]

In [26]:
#process of query
def process_query(query):
    query = query.lower()
    query = word_tokenize(query)
    query = [stemmer.stem(word) for word in query]
    return query

#process of request
def process_request(query):
    res = inverted_index[query[0]]
    for i in range(1,len(query),2):
        word2 = inverted_index[query[i+1]]
        if query[i] == "and":
            res = [i for i in res if i in word2]
        elif query[i] == "or":
            res = list(set(res + inverted_index[query[i+1]]))
        elif query[i] == "not":
            res =  list(set(res) - set(word2))
    return res

In [35]:
query = input("enter the query : ")
query = process_query(query)

enter the query : north or kim

In [36]:
result = process_request(query)
print(result)

[2528, 1819, 2, 3, 5, 6, 7, 11, 975, 306, 2523, 23, 24, 2070, 26, 1883, 1882, 30]