In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.tokenize import sent_tokenize,word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from nltk.stem import PorterStemmer

In [2]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to C:\Users\Arjun
[nltk_data]     V\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
df = pd.read_csv("train.csv")

In [4]:
df.head()

                 id                                       comment_text  toxic
0  e617e2489abe9bca  "\r\n\r\n A barnstar for you! \r\n\r\n  The De...      0
1  9250cf637294e09d  "\r\n\r\nThis seems unbalanced.  whatever I ha...      0
2  ce1aa4592d5240ca  Marya Dzmitruk was born in Minsk, Belarus in M...      0
3  48105766ff7f075b      "\r\n\r\nTalkback\r\n\r\n Dear Celestia...  "      0
4  0543d4f82e5470b6  New Categories \r\n\r\nI honestly think that w...      0

In [5]:
df["tokenized"] = df["comment_text"]
df = df.apply(lambda x: x.str.lower() if x.dtype == "object" else x) 
df["tokenized"] = df['tokenized'].str.replace('[^\w\s]','')

C:\Users\ARJUNV~1\AppData\Local\Temp/ipykernel_36888/1293593572.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df["tokenized"] = df['tokenized'].str.replace('[^\w\s]','')

In [6]:
df.head()

,id,comment_text,toxic,tokenized
0,e617e2489abe9bca,"""\r\n\r\n a barnstar for you! \r\n\r\n the de...",0,\r\n\r\n a barnstar for you \r\n\r\n the defe...
1,9250cf637294e09d,"""\r\n\r\nthis seems unbalanced. whatever i ha...",0,\r\n\r\nthis seems unbalanced whatever i have...
2,ce1aa4592d5240ca,"marya dzmitruk was born in minsk, belarus in m...",0,marya dzmitruk was born in minsk belarus in ma...
3,48105766ff7f075b,"""\r\n\r\ntalkback\r\n\r\n dear celestia... """,0,\r\n\r\ntalkback\r\n\r\n dear celestia
4,0543d4f82e5470b6,new categories \r\n\r\ni honestly think that w...,0,new categories \r\n\r\ni honestly think that w...

In [7]:
df["tokenized"] = df["tokenized"].apply(word_tokenize)
df["tokenized"].head()

0    [a, barnstar, for, you, the, defender, of, the...
1    [this, seems, unbalanced, whatever, i, have, s...
2    [marya, dzmitruk, was, born, in, minsk, belaru...
3                           [talkback, dear, celestia]
4    [new, categories, i, honestly, think, that, we...
Name: tokenized, dtype: object

In [8]:
df.head()

,id,comment_text,toxic,tokenized
0,e617e2489abe9bca,"""\r\n\r\n a barnstar for you! \r\n\r\n the de...",0,"[a, barnstar, for, you, the, defender, of, the..."
1,9250cf637294e09d,"""\r\n\r\nthis seems unbalanced. whatever i ha...",0,"[this, seems, unbalanced, whatever, i, have, s..."
2,ce1aa4592d5240ca,"marya dzmitruk was born in minsk, belarus in m...",0,"[marya, dzmitruk, was, born, in, minsk, belaru..."
3,48105766ff7f075b,"""\r\n\r\ntalkback\r\n\r\n dear celestia... """,0,"[talkback, dear, celestia]"
4,0543d4f82e5470b6,new categories \r\n\r\ni honestly think that w...,0,"[new, categories, i, honestly, think, that, we..."

In [9]:
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
df["tokenized"] = df["tokenized"].apply(lambda words: [word for word in words if word not in stop_words])

[nltk_data] Downloading package stopwords to C:\Users\Arjun
[nltk_data]     V\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [10]:
df.head()

,id,comment_text,toxic,tokenized
0,e617e2489abe9bca,"""\r\n\r\n a barnstar for you! \r\n\r\n the de...",0,"[barnstar, defender, wiki, barnstar, like, edi..."
1,9250cf637294e09d,"""\r\n\r\nthis seems unbalanced. whatever i ha...",0,"[seems, unbalanced, whatever, said, mathsci, s..."
2,ce1aa4592d5240ca,"marya dzmitruk was born in minsk, belarus in m...",0,"[marya, dzmitruk, born, minsk, belarus, march,..."
3,48105766ff7f075b,"""\r\n\r\ntalkback\r\n\r\n dear celestia... """,0,"[talkback, dear, celestia]"
4,0543d4f82e5470b6,new categories \r\n\r\ni honestly think that w...,0,"[new, categories, honestly, think, need, add, ..."

In [11]:
stemmer = PorterStemmer()
df['stemmed'] = df['tokenized'].apply(lambda x: [stemmer.stem(y) for y in x])

In [12]:
df.head()

,id,comment_text,toxic,tokenized,stemmed
0,e617e2489abe9bca,"""\r\n\r\n a barnstar for you! \r\n\r\n the de...",0,"[barnstar, defender, wiki, barnstar, like, edi...","[barnstar, defend, wiki, barnstar, like, edit,..."
1,9250cf637294e09d,"""\r\n\r\nthis seems unbalanced. whatever i ha...",0,"[seems, unbalanced, whatever, said, mathsci, s...","[seem, unbalanc, whatev, said, mathsci, said, ..."
2,ce1aa4592d5240ca,"marya dzmitruk was born in minsk, belarus in m...",0,"[marya, dzmitruk, born, minsk, belarus, march,...","[marya, dzmitruk, born, minsk, belaru, march, ..."
3,48105766ff7f075b,"""\r\n\r\ntalkback\r\n\r\n dear celestia... """,0,"[talkback, dear, celestia]","[talkback, dear, celestia]"
4,0543d4f82e5470b6,new categories \r\n\r\ni honestly think that w...,0,"[new, categories, honestly, think, need, add, ...","[new, categori, honestli, think, need, add, ca..."

In [13]:
my_dict = pd.Series(df.stemmed.values,index=df.id).to_dict()

In [14]:
my_list = df["stemmed"]
my_list[:5]

0    [barnstar, defend, wiki, barnstar, like, edit,...
1    [seem, unbalanc, whatev, said, mathsci, said, ...
2    [marya, dzmitruk, born, minsk, belaru, march, ...
3                           [talkback, dear, celestia]
4    [new, categori, honestli, think, need, add, ca...
Name: stemmed, dtype: object

In [15]:
words = []
for key in my_dict:
    for i in range(len(my_dict[key])):
        term = my_dict[key][i]
        words.append(term)

In [16]:
length = len(my_list)
inverted_index = {}
for i in range(length):
    check = my_list[i]
    for item in words:
        if item in check:
            if item not in inverted_index:
                inverted_index[item] = []
            if item in inverted_index:
                inverted_index[item].append(i+1)

In [17]:
for key in inverted_index:
    inverted_index[key] = list(set(inverted_index[key]))

In [18]:
inverted_index["minsk"]

[3]

In [64]:
def process_query(query):
    query = query.lower()
    query = word_tokenize(query)
    query = [stemmer.stem(word) for word in query]
    return query

def process_request(query):
    res = inverted_index[query[0]]
    for i in range(1,len(query),2):
        word2 = inverted_index[query[i+1]]
        if query[i] == "and":
            res = [i for i in res if i in word2]
        elif query[i] == "or":
            res = res + inverted_index[query[i+1]]
        elif query[i] == "not":
            res =  list(set(res) - set(word2))
    return res

In [68]:
query = input("enter the query : ")
query = process_query(query)

enter the query : brutus and calapurnia

In [66]:
result = process_request(query)
print(result)

[2088, 3196, 1484, 3853]